@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* header */
.pozadi {
  width: 1173px;
  height: 887px;
  opacity: 15%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.obdelnik {
  height: 887px;
  width: 747px;
  background-color: #d6c29c;
}

.pozadi-container {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
}

header {
  min-height: 90vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0px;
}

.logo {
  height: 66.27px;
  width: 258px;
  margin-left: 300px;
}

nav ul {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  gap: 55px;
  letter-spacing: 0.05em;
  list-style: none;
  margin-right: 300px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

.ctverec {
  width: 568px;
  height: 499px;
  position: absolute;
  background-color: #ae873b;
  z-index: -1;
  left: 70%;
}

.popredi {
  height: 572.51px;
  width: 762.01px;
  object-fit: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-right: 100px;
}

.hero-text h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  color: #3d3d3d;
  padding: 20px 0;
}

span {
  color: #ae873b;
}

.hero-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.04em;
}

/* about */

.about h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.03em;
  color: #000;
  text-align: start;
}

.about {
  height: 80vh;
  width: 100%;
}

.about-container {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
}

.ikona-container {
  display: flex;
}

.ikona {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.benefits-section {
  height: 80vh;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 170px;
  margin-left: 280px;
}

.decorative-line {
  width: 92px;
  height: 2px;
  background-color: #c2954b;
}

.header-container h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.03em;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.benefits-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px 300px;
  justify-content: center;
  align-items: start;
  width: 900px;
  margin: 60px auto 0 auto;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 426px;
  min-height: 120px;
  padding: 0px;
}

.benefit-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.benefit-title img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.benefit-title h3 {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 0;
  color: #3d3d3d;
  font-family: "Raleway", sans-serif;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 16px;
}

.benefit-item p {
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #666;
  margin-left: 15px;
  font-family: "Open Sans", sans-serif;
}

.assets/img/photos {
  height: 75vh;
}

.ctverec-bilozlaty {
  width: 477px;
  height: 552px;
  background-color: #ffffff;
  border: #ae873b;
  border-style: solid;
  border-width: 2px;
  position: absolute;
  left: 58%;
  margin: -52px auto;
}

.gallery img {
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: block;
}

.gallery img:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 1200px;
  height: 236px;
  margin: 30px auto;
  position: relative;
}

.gallery-button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: #ae873b;
  color: #fff;
  width: 203px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 270px auto;
  line-height: 20px;
  letter-spacing: 0.05em;
  transition: background-color 0.2s;
}

.gallery-button:hover {
  background-color: #3d3d3d;
}

/* footer */
